name: Compile and upload

on: push

jobs:
  compile_upload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Compile LaTeX document (stage 1)
        uses: dante-ev/latex-action@latest
        with:
          root_file: surf-surf.tex
          compiler: xelatex
#      - name: Run bibtex
#        uses: dante-ev/latex-action@latest
#        with:
#          root_file: surf-surf.aux
#          compiler: bibtex
#          args:
      - name: Compile LaTeX document (stage 2)
        uses: dante-ev/latex-action@latest
        with:
          root_file: surf-surf.tex
          compiler: xelatex
      - name: Upload
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: surf-surf.pdf
          asset_name: surf-surf.pdf
          tag: ${{ github.ref }}
          overwrite: true
          body: "Paper draft"
